<!DOCTYPE html>
<html>
<head>
  <title>Ok, Peter!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.peterImage = "<%= asset_url "jimmy.jpg" %>"
  </script>
</head>
<body>
<link href='https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,900' rel='stylesheet' type='text/css'>

<%= yield %>

<%= javascript_include_tag 'application' %>

</body>
</html>
