<!DOCTYPE html>
<html>
<head>
  <title>Ok, Peter!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.peterImage = "<%= asset_url "jimmy.jpg" %>"
  </script>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'application' %>

</body>
</html>
